html,
body {
  margin: 0;
  padding: 0;
}

body {
  --compass-size: 500px;
  --dot-size: 15px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  font-family: "Arial", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
  overflow: hidden;
}

.compass {
  display: flex;
  flex-direction: column;
}

.container {
  position: relative;
  width: var(--compass-size);
}

#answers {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--compass-size);
  height: var(--compass-size);
}

.dot {
  position: absolute;
  width: var(--dot-size);
  height: var(--dot-size);
  border-radius: 100px;
  background: white;
  transform: translate(
    calc(calc(var(--compass-size) / 2) - calc(var(--dot-size) / 2)),
    calc(calc(var(--compass-size) / 2) - calc(var(--dot-size) / 2))
  );
  opacity: 0.5;
}

.dot.model {
  width: calc(var(--dot-size) * 2);
  height: calc(var(--dot-size) * 2);
  transform: translate(
    calc(calc(var(--compass-size) / 2) - calc(calc(var(--dot-size) * 2) / 2)),
    calc(calc(var(--compass-size) / 2) - calc(calc(var(--dot-size) * 2) / 2))
  );
  opacity: 1;
}

.dot.model:after {
  content: attr(data-model);
  position: absolute;
  top: calc(var(--dot-size) * 2);
  left: calc(var(--dot-size) * 2);
  display: flex;
  font-family: sans-serif;
  font-size: 0.5em;
  line-height: 1;
}

#embeddings {
  overflow: visible;
}

.caption {
  display: flex;
}

.caption p {
  padding: 10px;
}

p {
  margin: 0;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 1.5em;
  line-height: 1;
}

.meme p {
  padding: 0.5em;
}

.dot.model {
  z-index: 1;
}

.dot.model:after {
  white-space: nowrap;
  width: auto;
  border-radius: 1em;
  background-color: white;
  padding: 0.5em 1em 0.5em 1em;
}

.meme {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
}

.meta {
  position: absolute;
  bottom: 2em;
  right: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17.5vw;
  font-size: 0.5em;
  color: white;
  border-left: 0px solid rgba(255, 255, 255, 0.333);
}

.meta > div {
  padding: 2em;
  border: 1px solid rgba(255, 255, 255, 0.333);
  border-radius: 3px;
  background: black;
}

.meta p {
  opacity: 0.8;
  line-height: 1.2;
}

.meta h2 {
  margin: 2em 0 0 0;
  font-size: 1.2em;
  text-transform: uppercase;
}

.meta h2:first-of-type {
  margin: 0;
}

.meta #name,
.meta #timestamp {
  display: none;
}

.icon {
  height: 24px;
  width: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 2em 0;
  align-items: center;
}
